/* Default Styles */
h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
            typing 5s,
            cursor .10s;
}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
  color: rgb(255, 255, 255);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
          typing 5s,
          cursor .10s;
}

.foo {
  background-color: white;
}

/* Cursor Animation */
@keyframes cursor {
  50% { border-color: transparent; }
}

/* Typing Animation */
@keyframes typing {
  from { width: 0; }
}

.chat-row {
  background-color: red;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1, h3 {
    font-size: 2.5rem; /* Adjust font size */
    letter-spacing: 3px; /* Reduce spacing */
    animation:
              typing 5s,
              cursor .10s;
  }
}

@media (max-width: 480px) {
  h1, h3 {
    font-size: 1.2rem; /* Further reduce font size */
    letter-spacing: 2px; /* Further reduce spacing */
    animation:
              typing 5s,
              cursor .10s;
  }

  h2 {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}
